* {
    font-family: Helvetica;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* Header */

header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    margin-top: 0px;
}
#logo {
    height: 50px;
    width: auto;
    margin-left: 10px;
}
#nav {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
#nav a {
    margin-right: 15px;
}
.x {
    height: 70px;
    color: black;
}

/* Main */

main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#mission {
    background-image: url(./img-mission-background.webp);
    height: 700px;
    width: 1200px;
    display: flex;
    align-items: center;
}
#mission-text {
    width: 1200px;
}
#month-text {
    width: 1200px;
    margin-top: 80px;
}
.month-container {
    margin: 20px;
}
.month-container img {
    height: 200px;
    Width: 300px;
}
.month-container h4 {
    margin-top: 10px;
}
#month-elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Footer */

footer {
    margin-top: 50px;
}